div > .vimiumHintMarker {
  /* linkhint boxes */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000000),
    color-stop(100%, #000000)
  ) !important;
  border: 1px solid #808080 !important;
  padding: 2px 2px 4px 2px !important;
}

div > .vimiumHintMarker span {
  /* linkhint text */
  color: #00ffff !important;
  font-weight: bold !important;
  font-size: 16px !important;
  font-family: sans;
}

div > .vimiumHintMarker > .matchingCharacter {
  color: #969696;
}

/* VOMNIBAR VOMNIBAR VOMNIBAR */
#vomnibar {
  display: block;
  position: fixed;
  width: calc(
    100% - 20px
  ); /* adjusted to keep border radius and box-shadow visible*/
  /*min-width: 400px;
    top: 70px;
    left: 50%;*/
  top: 8px;
  left: 8px;
  /*margin: 0 0 0 -40%;*/
  font-family: sans-serif;

  background: #000;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 1px 3px #00ffff;
  border: 2px solid #00ffff;
  z-index: 2139999999; /* One less than hint markers and the help dialog (see ../content_scripts/vimium.css). */
}

#vomnibar input {
  color: #00ffff;
  font-family: "Open Sans", Helvetica Neue, Arial, sans-serif;
  font-size: 21px;
  height: 27px;
  margin-bottom: 0;
  padding: 9px;
  background-color: #000000;
  border-radius: 3px;
  border: 0px solid #00ffff;
  box-shadow: #00ffff 0px 0px 0px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

#vomnibar .vomnibarSearchArea {
  display: block;
  padding: 10px;
  background-color: #000000;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #00ffff;
}

#vomnibar ul {
  background-color: #000000;
  border-radius: 0 0 4px 4px;
  list-style: none;
  padding: 1px 0;
  padding-top: 0;
}

#vomnibar li {
  border-bottom: 1px solid #1f1f1f;
  line-height: 1.1em;
  padding: 3px 6px;
  font-size: 18px;
  color: black;
  position: relative;
  display: list-item;
  margin: auto;
}

#vomnibar li:last-of-type {
  border-bottom: none;
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  display: block;
  overflow: hidden;
}

#vomnibar li .vomnibarBottomHalf {
  font-size: 15px;
  margin-top: 3px;
  padding: 2px 0;
}

#vomnibar li .vomnibarIcon {
  background-position-y: center;
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 20px;
}

#vomnibar li .vomnibarSource {
  color: #00ffff;
  margin-right: 4px;
}
#vomnibar li .vomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: #000000;
  color: black;
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#vomnibar li .vomnibarUrl {
  white-space: nowrap;
  color: #fff;
}

#vomnibar li .vomnibarMatch {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: rgb(255, 255, 255);
  margin-left: 4px;
  font-weight: normal;
}
#vomnibar li em {
  font-style: italic;
}
#vomnibar li em .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: rgb(216, 216, 216);
}

#vomnibar li.vomnibarSelected {
  background-color: #5e6773;
  font-weight: normal;
}

#vomnibarInput::selection {
  /* This is the light grey color of the vomnibar border. */
  /* background-color: #F1F1F1; */

  /* This is the light blue color of the vomnibar selected item. */
  /* background-color: #BBCEE9; */

  /* This is a considerably lighter blue than Vimium blue, which seems softer
     * on the eye for this purpose. */
  /* background-color: #E6EEFB; */
  background-color: #6a839c;
}

.vomnibarInsertText {
}

.vomnibarNoInsertText {
  visibility: hidden;
}
